<div class="container customcontainer">
    <div class="row">
        <div class="col-md-6">

            <form class="customform">
                <h1 class="text-center">Login</h1>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember">
                    <label class="form-check-label" for="remember">Remember password</label>
                </div>
                <div class="col-md-6 d-flex align-items-end justify-content-end">
                    <div class="mb-3">
                        <p class="mb-0"><a href="">Forgot Password?</a></p>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary float-end">Login</button>
                    </div>
                </div>
            </form>

        </div>

        <hr>
        <p><a>Need an Account?Sign up!</a></p>
    </div>

</div>